node_modules
.env
nbis
nbisinst
minutiae
backend-auth/assets/
backend-auth/logs/
backend-auth/uploads/

/backend-auth/assets/
/backend-auth/logs/
/backend-auth/uploads/
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
