.printed-vote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 640px;
  height: 860px;
  border-radius: 50px;
  background: #d9d9d9;
  box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.25);
}

.printed-vote-box-image {
  width: 282px;
  margin-bottom: 100px;
}

.printed-vote-text-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-confirmation {
  margin: 0px;
  color: #24336a;
  text-align: center;
  font-family: "Reddit Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
}

.id-styling {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-details {
  margin: 0px;
  color: #000;
  font-family: "Reddit Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.vote-id-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vote-id-text {
  margin: 0px;
  color: #000;
  font-family: "Reddit Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}
