.auth-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #14133b;
  background-image: url("../../assets/backgroundauth.svg");
  background-size: cover;
}

.steps-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
}

.step-card {
  display: flex;
  width: 120px;
  height: 97px;
  padding: 0px 55px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #d9d9d9;
}

.step-text {
  cursor: default;
  color: #14133b;
  text-align: center;
  font-family: "Reddit Sans", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}

.step-description {
  color: #fff;
  text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.25);
  font-family: "Reddit Sans", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  width: 710px;
}
