.candidate-box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 743px;
  height: 255px;
  border-radius: 160px;
  background: #d9d9d9;
  cursor: pointer;
}

.candidate-box.faded {
  opacity: 0.5;
}

.candidate-box.selected {
  opacity: 1;
  box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.25);
  z-index: 1;
}

.candidate-image {
  margin-left: 60px;
  width: 162px;
  height: 162px;
}

.line-between {
  margin-left: 32px;
  width: 3px;
  height: 197px;
  background-color: rgba(111, 150, 209, 0.52);
}

.candidate-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

.candidate-name {
  margin: 0;
  color: #191844;
  font-family: "Reddit Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.candidate-party {
  margin: 0;
  color: #000;
  font-family: "Reddit Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
