.face-auth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
  background-color: #14133b;
  background-image: url("../../assets/backgroundauth.svg");
  background-size: cover;
  font-family: "Reddit Sans", "Roboto", "Helvetica", "Arial", sans-serif;
}

.face-title {
  text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.25);
  font-size: 60px;
  font-weight: 600;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 60px;
  padding: 0px 55px;
  color: #14133b;
  background-color: #d9d9d9;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #b6b3b3;
}

button {
  margin: auto;
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 60px;
  color: #14133b;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  transition: background-color 0.3s ease;
  background-color: #53ff92;
}

button:hover {
  background-color: #3bff6e;
}

.upload-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.file-text {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  height: 20px;
}

.label-text {
  font-size: 36px;
  font-weight: 600;
  height: fit-content;
  margin-right: 24px;
}

#queryIdInput {
  width: 200px;
  height: 56px;
  border-radius: 50px;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
}
