.auth-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 172px;
  flex-shrink: 0;
  fill: #24336a;
  background-color: #24336a;
  border-radius: 50%;
}

.auth-button-container:hover {
  background-color: #1e2a5d;
  cursor: pointer;
}

.auth-button-container:active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 172px;
  flex-shrink: 0;
  background-color: #d9d9d9;
  filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.25));
  border-radius: 50%;
}

.auth-button-container-passed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 172px;
  flex-shrink: 0;
  background-color: #d9d9d9;
  filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.25));
  border-radius: 50%;
}
