.auth-menu {
  display: flex;
  width: 650px;
}

.circle-div {
  position: relative;
  width: 582px;
  height: 582px;
  background-color: transparent;
  border: 5px solid #fff;
  border-radius: 50%;
}

.button-container {
  position: absolute;
  transform: translate(-50%, -50%);
}

.button-container.top {
  top: 10px;
  left: 50%;
}

.button-container.left {
  bottom: 0px;
  left: 40px;
}

.button-container.right {
  bottom: 0px;
  right: -134px;
}

.button-container.center {
  bottom: 200px;
  left: 50%;
}

.button-container.center:hover {
  filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.25));
}

.key {
  fill: #6f96d1;
}

.key:hover {
  fill: #fff;
  cursor: pointer;
}
